@import '../../style/vars';

.point-table {

  .labels {
    width: 50%;
    font-size: 12px;
    text-align: right;
    color: gray;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    display: inline-block;
    height: 3em;
    width: 5em;
    padding: .5em;
    margin: .1em;
    margin-right: 0.5em;
    font-weight: bold;
    border-radius: 0;
  }
}

.column {
  label {
    color: gray;

    &:nth-of-type(2) {
      font-weight: normal;
    }
  }

.row {
  margin-bottom: 20px;
}

  input {
    &:nth-of-type(1) {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:nth-of-type(4) {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.new-subject {
  // float: center;
  display: inline-block;
}

.row-labels {
  position: relative;
  bottom: 2.75em;
  line-height: 1;
}

.row-labels label {
  position: static;
  // padding-top: 20px;
  margin-bottom: 0px;
  color: gray;
  padding: 0 !important;
}

.data-entry {
  display: block;
  width: 75vw;
  max-width: 1024px;
}

.synopsis {
  padding-top: 5em;
  padding-bottom: 5em;
}

.add-subject {
  height: 3em;
  width: 90%;
}

.edit-subjects {
  position: relative;
  display: inline !important;
  padding-bottom: 20px;
  // margin-top: 14px;
  text-transform: uppercase;
  color: #A9A9A9;
  font-weight: 600;
}

.edit-subjects-btn {
  text-transform: none;
  text-decoration: underline;
  color: $color-brand-blue;
  margin-left: 10px;
  // height: 1em;
}

.add-subject-btn {
  background-color: $color-white;
  color: $color-brand-blue;
  border: 1px solid #59AACE;
  padding: 8px;
  border-radius: 4px;
  transition: 350ms all;

  &:hover {
    background: $color-brand-blue;
    border: 1px solid #59AACE;
    color: $color-white;
  }

  &::placeholder {
    color: $color-black;
  }
}

.save-subjects {
  display: block;
  width: 25%;
  margin-top: 2.2em;
}

.modal-footer {
  padding: 1em 0 !important;
  justify-content: flex-start !important;
}
