@import '../../style/vars';

.point-table {
  border: 2px solid #e8e8e8;
  width: 92%;
  border-radius: 1em;
  
  .labels {
    width: 20em;
    font-size: 12px;
    text-align: right;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    display: inline-block;
    height: 70%;
    width: 5em;
    padding: .5em;
    margin: .2em;
    font-weight: bold;
  }
}

.new-subject {
  // float: center;
  display: inline-block;
}

.row-labels {
  position: relative;
  bottom: 2.75em;
  font-size: 14px;
  line-height: 1;
  padding-left: .1em;
  text-align: center;
  // margin: 80px 0px;
  border: black;

}

.row-labels label {
  margin-bottom: 0px;
}

.data-entry {
  display: block;
  margin-left: 25px;
}

.synopsis {
  padding-top: 5em;
  padding-bottom: 5em;
}

.choose-teacher {
  width: 180px;
  height: 2.5em;
}

.add-subject-btn {
  background-color: $color-white;
  color: $color-brand-blue;
  border: 1px solid #59AACE;
  padding: 10px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 20px;
  transition: 350ms all;

  &:hover {
    background: $color-brand-blue;
    border: 1px solid #59AACE;
    color: $color-white;
  }

  &::placeholder {
    color: $color-black;
  }
}
