@import '../../style/vars';

.point-table {
  
  .labels {
    width: 10em;
    font-size: 12px;
    text-align: right;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  * {
    display: inline-block;
    height: 3em;
    width: 5em;
    padding: .5em;
    margin: .2em;
  }
}

.row-labels {
  font-size: 14px;
  padding-left: .1em;
  text-align: center;
}


.data-entry {
  display: block;
  margin-left: 25px;
}

.synopsis {
  padding-top: 5em;
  padding-bottom: 5em;
}


