.panel {
    background-color: white !important;
    border-radius: 6px;
    /* position: fixed; */
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    margin-top: 84px;
    margin-left: 1em;
    padding-bottom: 12px;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
