.panel {
    background-color: white !important;
    border-radius: 6px;
    margin-top: 84px;
    margin-left: 1em;
    padding-bottom: 12px;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.mentor-btn a {
  background-color: $color-button-green;
  box-shadow: 0px 0px 3px black;
  border: none;
  border-radius: .3em;
  font-family: $font-primary;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  padding: 4px 16px;
  float: right;
  margin-top: -4px;
  margin-right: 20px;
}

.mentor-btn a:hover {
  background-color: $color-button-active;
  color: $color-black;
  text-decoration: none;
}
