@import '../../style/vars';

.student-data-form   {
  h2.studentModalHeader {
    color: $color-brand-blue;
  }
      background: rgba(169,169,169, .97);
      border-radius: 7px;
      box-shadow: 0px 0px 10px rgb(186, 186, 186);
      width: 50em;
      max-height: calc(100vh - 4px);
      overflow-y: auto;
      color: white;
      font-family: $font-primary;
      position: absolute;
      z-index: 99;
      margin: auto;
      top: 6em; left: 0; bottom: 0; right: 0;
      padding: 20px 30px 0px 30px;
    }

.hide {
  display: none;
}


.submitBtn-container {
  display: flex;
  width: 9em;
  margin-left: auto;
  margin-right: auto;
}

.submitBtn {
  background: $color-input-field;
  box-shadow: 0px 0px 3px black;
  border: none;
  border-radius: 2em;
  color: white;
  cursor: pointer;
  width: 12em;
  font-size: 16px;
  font-weight: 300;
  padding: 12px;
}
.submitBtn:hover {
  background-color: $color-input-focus;
  color: $color-black;
  font-weight: 600;
}

.cancelBtn {
  background: $color-white;
  display: inline;
  margin-left: 10px;
}

.cancelBtn:hover {
  font-weight: 600;
  border: 1px solid $color-black;
}

.formSubmitBtn {
  background: $color-button-green;
  box-shadow: 0px 0px 3px black;
  border: none;
  border-radius: 2em;
  color: white;
  cursor: pointer;
  width: 12em;
  font-size: 16px;
  font-weight: 300;
  padding: 12px;
}
.formSubmitBtn:hover {
  background-color: $color-button-active;
  color: $color-black;
  font-weight: 600;
}

// input:focus, button:focus {
//   outline: 0;
// }

// .dropdown select {
//   width: 15em;
//   height: 2em;
//   background-color: white !important;
// }

.close-modal {
  color: white;
  background: none;
  float: right;
  font-size: 20px;
  position: relative;
  right: 10px;
  padding: 0;
  margin: 0;
}

.close-modal:hover {
  color: $color-error;
  font-weight: 900;
  background: none;
}
