.btnGroup {
  border: 1px solid white;
  display: block;
  margin-bottom: 1em;
  position: relative;
  float: right;
  left: .6em;
  width: 7em;
}

.deleteBtn {
  background: white;
  border: 1px solid rgb(255, 112, 112);
  color: red;
  font-size: 14px;
  margin-bottom: .3em;
  position: relative;
  text-shadow: rgb(206, 206, 206);
  width: 6.09em;
}

.deleteBtn:hover {
  background: white;
  border: 1px solid red;
}

.updateBtn {
  background: white;
  border: 1px solid rgb(103, 133, 231);
  color: rgb(16, 62, 211);
  font-size: 14px;
  position: relative;
  text-shadow: rgb(206, 206, 206);
  width: 6.09em;
}

.updateBtn:hover {
  background: white;
  border: 1px solid rgb(16, 62, 211);
}
