@import '../../style/vars';

p {
  font-size: 24px;
}

.connection-modal {
  position: absolute;
  height: 85vh;
  overflow: scroll;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0 0 12px rgba(0,0,0, 0.3) !important;
  margin-top: 22vh !important;

  .modal-content {
    border: none;
  }

  .modal-body {
    padding: 1.5em 0;
  }

  .modal-header {
    padding: 0;
  }

  &.panel {
    height: auto !important;
  }

  .modal-dialog {
    margin: 0 !important;
  }

  .title {
    text-transform: uppercase;
    color: #A9A9A9;
    font-weight: 600;
  }

  span, select {
    display: block;
    line-height: 30px;
    height: 30px;
    margin-bottom: 18px;
  }

  .close > span {
    line-height: 11px;
    font-size: 3em;
    margin-bottom: 0;
  }
}
