@import '../../style/vars';

.svg-inline--fa.fa-w-10 {
    width: 2em;
}

.app {
  background-color: #E9E9E9;
  height: 100vh;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.6) !important;
}

button:focus {
    outline: none !important;
}
