@import '../../style/vars';

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: gray;
}

::-webkit-scrollbar-corner {
  display: none;
}

.content {
  flex: 1 0 auto;
}

.footer {
  height: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  flex-shrink: 0;
  color: #E9E9E9;

  .footer-link {

    &:active {
      color: white;
      text-decoration: none;
    }
  }
}

.svg-inline--fa.fa-w-10 {
    width: 2em;
}

.app {
  background-color: #E9E9E9;
  height: 100vh;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.6) !important;
}

button:focus {
    outline: none !important;
}
