@import '../../style/vars';

html, 
body {   
  height: 100%; 
} 
body { 
  display: flex;   
  flex-direction: column; 
}
 
.content { 
  flex: 1 0 auto; 
} 

.footer {   
  height: 40px;
  flex-shrink: 0; 
  background-color: #59AACE;
  color: white;
  // padding-top: -20px;

  &:hover {
    color: #E9E9E9;
  }
}

.svg-inline--fa.fa-w-10 {
    width: 2em;
}

.app {
  background-color: #E9E9E9;
  height: 100vh;
}

.modal-backdrop {
  background-color: rgba(0,0,0,0.6) !important;
}

button:focus {
    outline: none !important;
}
