.table-menu {
  top: 4.7em;
  position:relative;
}

.table-menu-btn {
  float: left;
  background: white;
  border: 1px solid rgb(29, 164, 29);
  color: rgb(29, 164, 29);
  margin-left: 2px;
  width: 8em;
}

.table-menu-btn:hover {
  background: rgb(29, 164, 29);
  color: white;
}

.table-menu-btn:active {
  background: rgb(29, 164, 29);
  color: white;
}