@import '../../style/vars';

.point-tracker-modal {
    position: absolute;
    height: 77vh;
    overflow: scroll;
    left: 45%;
    -webkit-transform: translateX(-45%);
    transform: translateX(-45%);
    box-shadow: 0 0 12px rgba(0,0,0, 0.3);

    .container, .col-md-12, .col-md-6, .col-md-4 {
      padding: 0 !important;
    }

    .modal-dialog {
      @media (min-width: 576px) {
        max-width: inherit !important;
        margin: 0.5em !important;
      }
    }

    .modal-content {
      border: 0 !important;
    }

    .close > span {
      font-size: 2.5em;
      line-height: 0em;
      height: 0px;
      margin-bottom: 0px;
    }
}

.select-student, .select-date {
  display: inline-block;
  padding: 5px;
}

select {
  background-color: $gray;
  display: block;
  width: 200px;
  height: 3em;
  padding: 10px;
}

.mentor-met-container {
  width: 100%;
  clear: both;
  line-height: 18px;
  margin-top: 18px;
  .inline {
    margin-left: 12px;
  }
}

.survey-question-container {
  width: 100%;
  clear: both;
  line-height: 18px;

  .inline {
    margin-left: 12px;
  }
}

.survey-questions {
  width: 100%;
  display: inline-block;
}

.survey-questions-2 {
  margin: 5px 0px;
  display: inline-block;
  width: 50%;
  margin-right: 4px;
  float: left;
}

.survey-questions input,
.survey-questions label,
.survey-questions-2 input,
.survey-questions-2 label, {
  display: inline-block;
  margin-right: 8px;

}

.survey-questions label {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.points-tracker {

    h2 {
      color: $color-brand-blue;
      padding-bottom: .5em;
    }

    h4 {
      padding-top: 1em;
    }

    ul {
      li {
        list-style-type: none;
        display: inline-block;
        padding: 10px;
      }
    }


    .btn-secondary {
      background-color: $color-button-green;
      padding: $pad;
      border: 1px solid $color-brand-green;
      border-radius: 3px;
      font-family: $font-primary;
      font-weight: 600;
      color: $color-white;
      font-size: 12px;

      &:hover {
        background-color: white;
        color: $color-brand-green;
        border: 1px solid $color-brand-green;
      }

      &:active {
        background-color: $color-brand-green;
        color: white;
      }
  }

  .synopsis {
    padding-top: 2.5em;
    padding-bottom: 1.6em;
  }

  .synopsis h4 {
    padding-top: 1em;
    padding-bottom: 1.6em;
  }
}

textarea {
  display: block;
  width: 100%;
  margin-bottom: 1.5em !important;
}

.column {
  bottom: -1.2em;
  position: relative;
}

.table {
  th {
    width: 200px;
  }

  textarea {
    width: 100%;
  }
}

.fa-spin {
  path {
    fill: #6c757d !important;
  }
}

.required {
  color: red !important;
}

.modal-footer {
  flex-direction: column;
  // justify-content: left !important;
}

.ms-select {
  justify-content: center !important;
  padding-bottom: 0px;

  span {
    padding-right: 5px;
  }

  .react-select {
    height: 20px;
  }
}

.support-request-notes {
  .title {
    padding-top: 25px !important;
    margin-top: 0px !important;
  }
}

.submit-button-row {
  padding-top: 25px;
}