.synopsis-report {
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  border: 2px solid #e8e8e8;
}

.img{  
  padding-left:10px;
  padding-top: 10px;
  padding-bottom:10px;
  height: 20px;
  background: #1f1f1f;
  width: 500px;
  border-radius: 30px;
}
  
h1, h2, h3, p {
    font-style:bold;
    font-family: helvetica;
    color:#089444;
}

p {
    font-family: Arial;
    color:#1186B4;
}
