@import '../../style/vars';

.header {
  background-color: #4C96C9;
  position: fixed;
  top: 0;
  width: 100%;
  height: 58px;
  z-index: 999;
}

.navbar {
  top: 0;
  position: fixed !important;
  width: 100%;
  max-width: 1366px;
  background-color: #4C96C9;
  z-index: 1;
  margin: auto;
  clear: both;
  height: 58px;
  left: 50%;
  transform: translateX(-50%);

  .nav-content {
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  .rainier-logo {
    width: 14em;

  }

  .login {
    color: white;
    float: right;

    .google-btn {
      width: 10em;
      margin: 1em;
    }
  }
}

.login button {
  color: white;
  background-color: transparent;
  margin-top: 0.6em;
}

.login button:hover {
  background-color: #4a4a4a;
}

.nav {
  z-index: 2;
  color: white;
  margin-right: 30em;
  top: 0;
  right: 0;
  float: right;
}
.nav > a {
  position: absolute;
  z-index: 2;
  color: white;
  margin-top: 0.6em;
}

.nav > a:hover {
  background-color: #4a4a4a;
  border-radius: 40px;
}
.nav > a:nth-child(1) {
  margin-left: 8em;
}
