@import '../../style/vars';

.navbar {
  top: 0;
  position: fixed;
  width: 100%;
  margin: 0px 0px 20px 0px;
  background-color: #1f1f1f;
  padding: 0;
  z-index: 1;
  clear: both;

  .logo {
    float: left;

    .rainier-logo {
      width: 20em;
      margin: 1em 1em;
    }

  }

  .login {
    color: white;
    float: right;

    .dropdown {
      display: block;
      position: absolute;
      background-color: $color-lightgrey;
      top: 4.7em;
      right: 0;
      width: 11em;
    }

    .google-btn {
      width: 10em;
      margin: 1em;
    }
  }
}

button {
  background-color: transparent;
  float: right;
  padding: 1em 0.8em;
  margin-left: 1em;
}

.login > button {
  background-color: transparent;
  float: right;
  padding: 1em 0.8em;
  margin-left: 1em;
  color: white;
}

.dropdown > button.navbar-dropdown {
  margin-right: 2em;
}
