@import 'vars';

* {
  // box model
  position: static;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;

  // font
  font-family: $font-primary;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;

  // color
  color: $color-black;

  // other
  list-style: none;
}

form *:focus {
  border: none;
  outline: 1px solid #59AACE;
}

body {
  margin: none;
}
