@import url('https://fonts.googleapis.com/css?family=Acme|Shadows+Into+Light"');

$color-error: #ff0000;
$color-secondary: #F0DCB6;
$color-primary: #ff777a;
$color-success: #77ff7a;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #B5BAC3;
$color-grey: #7A7D84;
$color-darkgrey: #6E7177;
$color-darkcyan: #008b8b;

$pad: 0.5em;

$acme-font: 'Acme', sans-serif;
$shadow-font: 'Shadows Into Light', cursive;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Mono', monospace;

$bg-texture: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");