@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,900|Open+Sans+Condensed:400');

$color-brand-blue: #1186B4;
$color-brand-green: #0B9444;

$color-button-green: #0B9444;
$color-button-focus: #53B57D;
$color-button-active: #83CBA3;

$color-input-field: #59AACE;
$color-input-focus: #A1CEE4;

$color-error: #ff0000;

$color-lightgrey: #B5BAC3;
$color-darkgrey: #6E7177;

$color-black: #000;
$color-white: #fff;

$gray: #e9e9e9;

$pad: 0.5em;

$font-primary: 'Raleway', Helvetica, Arial, sans-serif;
$font-secondary: 'Adobe Garamond Pro', serif;
$font-condensed: 'Open Sans Condensed', sans-serif;
