@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,900');

$color-brand-blue: rgb(17, 134, 180);
$color-brand-green: rgb(11, 148, 68);

$color-button-focus: rgb(15, 187, 87);

$color-input-field: #59AACE;
$color-input-focus: #A1CEE4;

$color-error: #ff0000;

$color-lightgrey: #B5BAC3;
$color-darkgrey: #6E7177;

$color-black: #000;
$color-white: #fff;

$pad: 0.5em;

$font-primary: 'Raleway', Helvetica, Arial, sans-serif;
$font-secondary: 'Adobe Garamond Pro', serif;
