.main {
  margin: 1em;
  margin-top: 6em;
}

.nav {
  z-index: 2;
  color: white;
  margin-right: 30em;
  top: 0;
  right: 0;
  margin-right: 30em;
  position: fixed;
}
.nav > a {
  position: absolute;
  z-index: 2;
  color: white;
  padding: 1.8em 2em;
}

.nav > a:hover {
  background-color: #4a4a4a;
}
.nav > a:nth-child(1) {
  margin-left: 8em;
}
