@import '../../style/vars';

svg > path {
  fill: black;
}
.svg-inline--fa.fa-w-10 {
    width: 2em;
}

.column-rows {
  display: inline-block;
  height: 3em;
  width: 5em;
  padding: .5em;
  margin: .2em;
  text-align: center;
  font-size: 16px;
}

.column data input {
  margin-bottom: 5px;
}

.invalid-scores {
  background: red;
}

.invalid-scores:hover {
  background: rgb(247, 147, 147)
}